# Data Cleaning and Preparation

In [1]:
import numpy as np
import pandas as pd
PREVIOUS_MAX_ROWS = pd.options.display.max_rows
pd.options.display.max_rows = 20
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))
np.set_printoptions(precision=4, suppress=True)

![DataFrame的索引选项](http://upload-images.jianshu.io/upload_images/7178691-64354f2ab777bd8c.png?imageMogr2/auto-orient/strip|imageView2/2/w/1240)

## Handling Missing Data

In [2]:
string_data = pd.Series(['aardvark', 'artichoke', np.nan, 'avocado'])
string_data

0     aardvark
1    artichoke
2          NaN
3      avocado
dtype: object

In [3]:
pd.isnull(np.nan) + pd.isnull(None)
#None和np.nan都是空

2

In [4]:
string_data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

> 在pandas中，我们采用了R语言中的惯用法，即将缺失值表示为NA，它表示不可用not available。在统计应用中，NA数据可能是不存在的数据或者虽然存在，但是没有观察到（例如，数据采集中发生了问题）。当进行数据清洗以进行分析时，最好直接对缺失数据进行分析，以判断数据采集的问题或缺失数据可能导致的偏差。

In [5]:
string_data[0] = None
string_data.isnull()

0     True
1    False
2     True
3    False
dtype: bool

### Filtering Out Missing Data

#### <mark>python中内置的NA为None，pandas中内置的为np.nan，如果想使用NA，需要nan as NA</mark>

In [6]:
from numpy import nan as NA

In [7]:
data = pd.Series([1, None, 3.5, None, 7])
data.dropna()

0    1.0
2    3.5
4    7.0
dtype: float64

In [8]:
data[data.notnull()]

0    1.0
2    3.5
4    7.0
dtype: float64

### <mark>DataFrame中dropna默认删除行</mark>

In [9]:
data = pd.DataFrame([[1., 6.5, 3.], [1., NA, NA],
                     [NA, NA, NA], [NA, 6.5, 3.]])
cleaned = data.dropna()
data

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [10]:
cleaned

     0    1    2
0  1.0  6.5  3.0

In [11]:
data.dropna(how='all')
#传入how='all'将只丢弃全为NA的那些行：

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

In [12]:
data[4] = NA
data

     0    1    2   4
0  1.0  6.5  3.0 NaN
1  1.0  NaN  NaN NaN
2  NaN  NaN  NaN NaN
3  NaN  6.5  3.0 NaN

In [13]:
data.dropna(axis=1, how='all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [14]:
df = pd.DataFrame(np.random.randn(7, 3))
df.iloc[:4, 1] = NA
df.iloc[:2, 2] = NA
df

          0         1         2
0 -0.204708       NaN       NaN
1 -0.555730       NaN       NaN
2  0.092908       NaN  0.769023
3  1.246435       NaN -1.296221
4  0.274992  0.228913  1.352917
5  0.886429 -2.001637 -0.371843
6  1.669025 -0.438570 -0.539741

In [15]:
df.dropna()

          0         1         2
4  0.274992  0.228913  1.352917
5  0.886429 -2.001637 -0.371843
6  1.669025 -0.438570 -0.539741

In [16]:
df.dropna(thresh=2)
#Keep only the rows with at least 2 non-NA values.

          0         1         2
2  0.092908       NaN  0.769023
3  1.246435       NaN -1.296221
4  0.274992  0.228913  1.352917
5  0.886429 -2.001637 -0.371843
6  1.669025 -0.438570 -0.539741

### Filling In Missing Data

In [17]:
df.fillna(0)

          0         1         2
0 -0.204708  0.000000  0.000000
1 -0.555730  0.000000  0.000000
2  0.092908  0.000000  0.769023
3  1.246435  0.000000 -1.296221
4  0.274992  0.228913  1.352917
5  0.886429 -2.001637 -0.371843
6  1.669025 -0.438570 -0.539741

In [18]:
df.fillna({1: 0.5, 2: 0})
# 不同列取不同的填补值

          0         1         2
0 -0.204708  0.500000  0.000000
1 -0.555730  0.500000  0.000000
2  0.092908  0.500000  0.769023
3  1.246435  0.500000 -1.296221
4  0.274992  0.228913  1.352917
5  0.886429 -2.001637 -0.371843
6  1.669025 -0.438570 -0.539741

In [19]:
_ = df.fillna(0, inplace=True)
df

          0         1         2
0 -0.204708  0.000000  0.000000
1 -0.555730  0.000000  0.000000
2  0.092908  0.000000  0.769023
3  1.246435  0.000000 -1.296221
4  0.274992  0.228913  1.352917
5  0.886429 -2.001637 -0.371843
6  1.669025 -0.438570 -0.539741

In [20]:
df = pd.DataFrame(np.random.randn(6, 3))
df.iloc[2:, 1] = NA
df.iloc[4:, 2] = NA
df

          0         1         2
0  0.476985  3.248944 -1.021228
1 -0.577087  0.124121  0.302614
2  0.523772       NaN  1.343810
3 -0.713544       NaN -2.370232
4 -1.860761       NaN       NaN
5 -1.265934       NaN       NaN

In [21]:
df.fillna(method='ffill')

          0         1         2
0  0.476985  3.248944 -1.021228
1 -0.577087  0.124121  0.302614
2  0.523772  0.124121  1.343810
3 -0.713544  0.124121 -2.370232
4 -1.860761  0.124121 -2.370232
5 -1.265934  0.124121 -2.370232

In [22]:
df.fillna(method='ffill', limit=2)

          0         1         2
0  0.476985  3.248944 -1.021228
1 -0.577087  0.124121  0.302614
2  0.523772  0.124121  1.343810
3 -0.713544  0.124121 -2.370232
4 -1.860761       NaN -2.370232
5 -1.265934       NaN -2.370232

In [23]:
data = pd.Series([1., NA, 3.5, NA, 7])
data.fillna(data.mean())

0    1.000000
1    3.833333
2    3.500000
3    3.833333
4    7.000000
dtype: float64

### <mark>fillna参数</mark>

![fillna](http://upload-images.jianshu.io/upload_images/7178691-0bf235386a64c3b5.png?imageMogr2/auto-orient/strip|imageView2/2/w/1240)
![fillna](http://upload-images.jianshu.io/upload_images/7178691-4edd39e68f4dc530.png?imageMogr2/auto-orient/strip|imageView2/2/w/1240)

## Data Transformation

### Removing Duplicates

In [24]:
data = pd.DataFrame({'k1': ['one', 'two'] * 3 + ['two'],
                     'k2': [1, 1, 2, 3, 3, 4, 4]})
data

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
6  two   4

In [25]:
data.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [26]:
data.drop_duplicates()

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4

In [27]:
data['v1'] = range(7)
data.drop_duplicates(['k1'])
#也可以只通过某一列或某几列判断

    k1  k2  v1
0  one   1   0
1  two   1   1

In [28]:
data.drop_duplicates(['k1', 'k2'], keep='last')

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
6  two   4   6

### Transforming Data Using a Function or Mapping

In [29]:
data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon',
                              'Pastrami', 'corned beef', 'Bacon',
                              'pastrami', 'honey ham', 'nova lox'],
                     'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

In [30]:
meat_to_animal = {
  'bacon': 'pig',
  'pulled pork': 'pig',
  'pastrami': 'cow',
  'corned beef': 'cow',
  'honey ham': 'pig',
  'nova lox': 'salmon'
}

In [31]:
lowercased = data['food'].str.lower() #小写转换
lowercased

0          bacon
1    pulled pork
2          bacon
3       pastrami
4    corned beef
5          bacon
6       pastrami
7      honey ham
8       nova lox
Name: food, dtype: object

### <mark>使用map是一种实现元素级转换以及其他数据清理工作的便捷方式。</mark>

In [32]:
data['animal'] = lowercased.map(meat_to_animal)
data

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

In [33]:
data['food'].map(lambda x: meat_to_animal[x.lower()])

0       pig
1       pig
2       pig
3       cow
4       cow
5       pig
6       cow
7       pig
8    salmon
Name: food, dtype: object

### Replacing Values

In [34]:
data = pd.Series([1., -999., 2., -999., -1000., 3.])
data

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64

In [35]:
data.replace(-999, np.nan)

0       1.0
1       NaN
2       2.0
3       NaN
4   -1000.0
5       3.0
dtype: float64

In [36]:
data.replace([-999, -1000], np.nan)

0    1.0
1    NaN
2    2.0
3    NaN
4    NaN
5    3.0
dtype: float64

> 要让每个值有不同的替换值，可以传递一个替换列表：

In [37]:
data.replace([-999, -1000], [np.nan, 0])

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

In [38]:
data.replace({-999: np.nan, -1000: 0})

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

### Renaming Axis Indexes

In [39]:
data = pd.DataFrame(np.arange(12).reshape((3, 4)),
                    index=['Ohio', 'Colorado', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

In [40]:
transform = lambda x: x[:4].upper()
data.index.map(transform)

Index(['OHIO', 'COLO', 'NEW '], dtype='object')

In [41]:
data.index = data.index.map(transform)
data

      one  two  three  four
OHIO    0    1      2     3
COLO    4    5      6     7
NEW     8    9     10    11

> 如果想要创建数据集的转换版（而不是修改原始数据），比较实用的方法是rename：

> rename可以结合字典型对象实现对部分轴标签的更新：

In [42]:
data.rename(index=str.title, columns=str.upper)

      ONE  TWO  THREE  FOUR
Ohio    0    1      2     3
Colo    4    5      6     7
New     8    9     10    11

In [43]:
data.rename(index={'OHIO': 'INDIANA'},
            columns={'three': 'peekaboo'})

         one  two  peekaboo  four
INDIANA    0    1         2     3
COLO       4    5         6     7
NEW        8    9        10    11

In [44]:
data.rename(index={'OHIO': 'INDIANA'}, inplace=True)
data

         one  two  three  four
INDIANA    0    1      2     3
COLO       4    5      6     7
NEW        8    9     10    11

### Discretization and Binning

In [45]:
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]

In [46]:
bins = [18, 25, 35, 60, 100]
cats = pd.cut(ages, bins)
cats

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

> pandas返回的是一个特殊的Categorical对象。结果展示了pandas.cut划分的面元。你可以将其看做一组表示面元名称的字符串。它的底层含有一个表示不同分类名称的类型数组，以及一个codes属性中的年龄数据的标签：

In [47]:
cats.codes
#原list的归属

array([0, 0, 0, 1, 0, 0, 2, 1, 3, 2, 2, 1], dtype=int8)

In [48]:
cats.categories

IntervalIndex([(18, 25], (25, 35], (35, 60], (60, 100]],
              closed='right',
              dtype='interval[int64]')

In [49]:
pd.value_counts(cats)

(18, 25]     5
(35, 60]     3
(25, 35]     3
(60, 100]    1
dtype: int64

In [50]:
pd.cut(ages, [18, 26, 36, 61, 100], right=False)

[[18, 26), [18, 26), [18, 26), [26, 36), [18, 26), ..., [26, 36), [61, 100), [36, 61), [36, 61), [26, 36)]
Length: 12
Categories (4, interval[int64]): [[18, 26) < [26, 36) < [36, 61) < [61, 100)]

In [51]:
group_names = ['Youth', 'YoungAdult', 'MiddleAged', 'Senior']
pd.cut(ages, bins, labels=group_names)

[Youth, Youth, Youth, YoungAdult, Youth, ..., YoungAdult, Senior, MiddleAged, MiddleAged, YoungAdult]
Length: 12
Categories (4, object): [Youth < YoungAdult < MiddleAged < Senior]

> 如果向cut传入的是面元的数量而不是确切的面元边界，则它会根据数据的最小值和最大值计算等长面元。下面这个例子中，我们将一些均匀分布的数据分成四组：

In [52]:
data = np.random.rand(20)
pd.value_counts(pd.cut(data, 4, precision = 2))

(0.34, 0.55]    6
(0.76, 0.97]    5
(0.55, 0.76]    5
(0.12, 0.34]    4
dtype: int64

> <mark>qcut是一个非常类似于cut的函数，它可以根据样本分位数对数据进行面元划分。根据数据的分布情况，cut可能无法使各个面元中含有相同数量的数据点。而qcut由于使用的是样本分位数，因此可以得到大小基本相等的面元：</mark>

In [53]:
data = np.random.randn(1000)  # Normally distributed
cats = pd.qcut(data, 4)  # Cut into quartiles
cats

[(-0.0265, 0.62], (0.62, 3.928], (-0.68, -0.0265], (0.62, 3.928], (-0.0265, 0.62], ..., (-0.68, -0.0265], (-0.68, -0.0265], (-2.9499999999999997, -0.68], (0.62, 3.928], (-0.68, -0.0265]]
Length: 1000
Categories (4, interval[float64]): [(-2.9499999999999997, -0.68] < (-0.68, -0.0265] < (-0.0265, 0.62] < (0.62, 3.928]]

In [54]:
pd.value_counts(cats)

(0.62, 3.928]                   250
(-0.0265, 0.62]                 250
(-0.68, -0.0265]                250
(-2.9499999999999997, -0.68]    250
dtype: int64

In [55]:
pd.value_counts(pd.qcut(data, [0, 0.1, 0.5, 0.9, 1.]))

(-0.0265, 1.286]                 400
(-1.187, -0.0265]                400
(1.286, 3.928]                   100
(-2.9499999999999997, -1.187]    100
dtype: int64

### Detecting and Filtering Outliers

In [56]:
data = pd.DataFrame(np.random.randn(1000, 4))
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.049091     0.026112    -0.002544    -0.051827
std       0.996947     1.007458     0.995232     0.998311
min      -3.645860    -3.184377    -3.745356    -3.428254
25%      -0.599807    -0.612162    -0.687373    -0.747478
50%       0.047101    -0.013609    -0.022158    -0.088274
75%       0.756646     0.695298     0.699046     0.623331
max       2.653656     3.525865     2.735527     3.366626

In [57]:
col = data[2]
col[np.abs(col) > 3] #此处用np

41    -3.399312
136   -3.745356
Name: 2, dtype: float64

In [58]:
data[(np.abs(data) > 3).any(1)]

            0         1         2         3
41   0.457246 -0.025907 -3.399312 -0.974657
60   1.951312  3.260383  0.963301  1.201206
136  0.508391 -0.196713 -3.745356 -1.520113
235 -0.242459 -3.056990  1.918403 -0.578828
258  0.682841  0.326045  0.425384 -3.428254
322  1.179227 -3.184377  1.369891 -1.074833
544 -3.548824  1.553205 -2.186301  1.277104
635 -0.578093  0.193299  1.397822  3.366626
782 -0.207434  3.525865  0.283070  0.544635
803 -3.645860  0.255475 -0.549574 -1.907459

In [59]:
# np.sign?

In [60]:
data[np.abs(data) > 3] = np.sign(data) * 3 #np.sign返回1或-1
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.050286     0.025567    -0.001399    -0.051765
std       0.992920     1.004214     0.991414     0.995761
min      -3.000000    -3.000000    -3.000000    -3.000000
25%      -0.599807    -0.612162    -0.687373    -0.747478
50%       0.047101    -0.013609    -0.022158    -0.088274
75%       0.756646     0.695298     0.699046     0.623331
max       2.653656     3.000000     2.735527     3.000000

In [61]:
np.sign(data).head()

     0    1    2    3
0 -1.0  1.0 -1.0  1.0
1  1.0 -1.0  1.0 -1.0
2  1.0  1.0  1.0 -1.0
3 -1.0 -1.0  1.0 -1.0
4 -1.0  1.0 -1.0 -1.0

### Permutation and Random Sampling

### <mark>permuting随机重排序</mark>

In [62]:
df = pd.DataFrame(np.arange(5*4).reshape((5, 4)))
sampler = np.random.permutation(5)
sampler

array([3, 1, 4, 2, 0])

In [63]:
df

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [64]:
df.iloc[sampler]

    0   1   2   3
3  12  13  14  15
1   4   5   6   7
4  16  17  18  19
2   8   9  10  11
0   0   1   2   3

In [65]:
df.take(sampler)

    0   1   2   3
3  12  13  14  15
1   4   5   6   7
4  16  17  18  19
2   8   9  10  11
0   0   1   2   3

In [67]:
#d.take? 有些像iloc

In [68]:
df.sample(n=3) #直接随机取三个sample

    0   1   2   3
3  12  13  14  15
4  16  17  18  19
2   8   9  10  11

In [69]:
choices = pd.Series([5, 7, -1, 6, 4])
draws = choices.sample(n=10, replace=True)
draws #replace=True, 允许重复选择

4    4
1    7
4    4
2   -1
0    5
3    6
1    7
4    4
0    5
4    4
dtype: int64

### Computing Indicator/Dummy Variables

In [70]:
df = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'b'],
                   'data1': range(6)})

In [71]:
df

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   b      5

In [72]:
pd.get_dummies(df['key'])

   a  b  c
0  0  1  0
1  0  1  0
2  1  0  0
3  0  0  1
4  1  0  0
5  0  1  0

> 有时候，你可能想给指标DataFrame的列加上一个前缀，以便能够跟其他数据进行合并。get_dummies的prefix参数可以实现该功能：

In [73]:
dummies = pd.get_dummies(df['key'], prefix='key')
df_with_dummy = df[['data1']].join(dummies)
df_with_dummy

   data1  key_a  key_b  key_c
0      0      0      1      0
1      1      0      1      0
2      2      1      0      0
3      3      0      0      1
4      4      1      0      0
5      5      0      1      0

In [74]:
!type datasets\movielens\movies.dat

1::Toy Story (1995)::Animation|Children's|Comedy
2::Jumanji (1995)::Adventure|Children's|Fantasy
3::Grumpier Old Men (1995)::Comedy|Romance
4::Waiting to Exhale (1995)::Comedy|Drama
5::Father of the Bride Part II (1995)::Comedy
6::Heat (1995)::Action|Crime|Thriller
7::Sabrina (1995)::Comedy|Romance
8::Tom and Huck (1995)::Adventure|Children's
9::Sudden Death (1995)::Action
10::GoldenEye (1995)::Action|Adventure|Thriller
11::American President, The (1995)::Comedy|Drama|Romance
12::Dracula: Dead and Loving It (1995)::Comedy|Horror
13::Balto (1995)::Animation|Children's
14::Nixon (1995)::Drama
15::Cutthroat Island (1995)::Action|Adventure|Romance
16::Casino (1995)::Drama|Thriller
17::Sense and Sensibility (1995)::Drama|Romance
18::Four Rooms (1995)::Thriller
19::Ace Ventura: When Nature Calls (1995)::Comedy
20::Money Train (1995)::Action
21::Get Shorty (1995)::Action|Comedy|Drama
22::Copycat (1995)::Crime|Drama|Thriller
23::Assassins (1995)::Thriller
24::Powder (1995)::Drama|Sci-Fi
25::Leaving Las Vegas (1995)::Drama|Romance
26::Othello (1995)::Drama
27::Now and Then (1995)::Drama
28::Persuasion (1995)::Romance
29::City of Lost Children, The (1995)::Adventure|Sci-Fi
30::Shanghai Triad (Yao a yao yao dao waipo qiao) (1995)::Drama
31::Dangerous Minds (1995)::Drama
32::Twelve Monkeys (1995)::Drama|Sci-Fi
33::Wings of Courage (1995)::Adventure|Romance
34::Babe (1995)::Children's|Comedy|Drama
35::Carrington (1995)::Drama|Romance
36::Dead Man Walking (1995)::Drama
37::Across the Sea of Time (1995)::Documentary
38::It Takes Two (1995)::Comedy
39::Clueless (1995)::Comedy|Romance
40::Cry, the Beloved Country (1995)::Drama
41::Richard III (1995)::Drama|War
42::Dead Presidents (1995)::Action|Crime|Drama
43::Restoration (1995)::Drama
44::Mortal Kombat (1995)::Action|Adventure
45::To Die For (1995)::Comedy|Drama
46::How to Make an American Quilt (1995)::Drama|Romance
47::Seven (Se7en) (1995)::Crime|Thriller
48::Pocahontas (1995)::Animation|Children's|Musical|Romance
49::When Night Is Falling (1995)::Drama|Romance
50::Usual Suspects, The (1995)::Crime|Thriller
51::Guardian Angel (1994)::Action|Drama|Thriller
52::Mighty Aphrodite (1995)::Comedy
53::Lamerica (1994)::Drama
54::Big Green, The (1995)::Children's|Comedy
55::Georgia (1995)::Drama
56::Kids of the Round Table (1995)::Adventure|Children's|Fantasy
57::Home for the Holidays (1995)::Drama
58::Postino, Il (The Postman) (1994)::Drama|Romance
59::Confessional, The (Le Confessionnal) (1995)::Drama|Mystery
60::Indian in the Cupboard, The (1995)::Adventure|Children's|Fantasy
61::Eye for an Eye (1996)::Drama|Thriller
62::Mr. Holland's Opus (1995)::Drama
63::Don't Be a Menace to South Central While Drinking Your Juice in the Hood (1996)::Comedy
64::Two if by Sea (1996)::Comedy|Romance
65::Bio-Dome (1996)::Comedy
66::Lawnmower Man 2: Beyond Cyberspace (1996)::Sci-Fi|Thriller
67::Two Bits (1995)::Drama
68::French Twist (Gazon maudit) (1995)::Comedy|Romance
69::Friday (1995)::Comedy
70::From Dusk Till Dawn (1996)::Action|Comedy|Crime|Horror|Thriller
71::Fair Game (1995)::Action
72::Kicking and Screaming (1995)::Comedy|Drama
73::Misérables, Les (1995)::Drama|Musical
74::Bed of Roses (1996)::Drama|Romance
75::Big Bully (1996)::Comedy|Drama
76::Screamers (1995)::Sci-Fi|Thriller
77::Nico Icon (1995)::Documentary
78::Crossing Guard, The (1995)::Drama
79::Juror, The (1996)::Drama|Thriller
80::White Balloon, The (Badkonake Sefid ) (1995)::Drama
81::Things to Do in Denver when You're Dead (1995)::Crime|Drama|Romance
82::Antonia's Line (Antonia) (1995)::Drama
83::Once Upon a Time... When We Were Colored (1995)::Drama
84::Last Summer in the Hamptons (1995)::Comedy|Drama
85::Angels and Insects (1995)::Drama|Romance
86::White Squall (1996)::Adventure|Drama
87::Dunston Checks In (1996)::Children's|Comedy
88::Black Sheep (1996)::Comedy
89::Nick of Time (1995)::Action|Thriller
90::Journey of August King, The (1995)::Drama
92::Mary Reilly (1996)::Drama|Thriller
93::Vampire in Brooklyn (1995)::Comedy|Romance
94::Beautiful Girls (1996)::Drama
95::Broken Arrow (1996)::Action|Thriller
96::In the Bleak Midwinter (1995)::Comedy
97::Hate (Haine, La) (1995)::Drama
98::Shopping (1994)::Action|Thriller
99::Heidi Fleiss: Hollywood Madam (1995)::Documentary
100::City Hall (1996)::Drama|Thriller
101::Bottle Rocket (1996)::Comedy
102::Mr. Wrong (1996)::Comedy
103::Unforgettable (1996)::Thriller
104::Happy Gilmore (1996)::Comedy
105::Bridges of Madison County, The (1995)::Drama|Romance
106::Nobody Loves Me (Keiner liebt mich) (1994)::Comedy|Drama
107::Muppet Treasure Island (1996)::Adventure|Children's|Comedy|Musical
108::Catwalk (1995)::Documentary
109::Headless Body in Topless Bar (1995)::Comedy
110::Braveheart (1995)::Action|Drama|War
111::Taxi Driver (1976)::Drama|Thriller
112::Rumble in the Bronx (1995)::Action|Adventure|Crime
113::Before and After (1996)::Drama|Mystery
114::Margaret's Museum (1995)::Drama
115::Happiness Is in the Field (1995)::Comedy
116::Anne Frank Remembered (1995)::Documentary
117::Young Poisoner's Handbook, The (1995)::Crime
118::If Lucy Fell (1996)::Comedy|Romance
119::Steal Big, Steal Little (1995)::Comedy
120::Race the Sun (1996)::Drama
121::Boys of St. Vincent, The (1993)::Drama
122::Boomerang (1992)::Comedy|Romance
123::Chungking Express (1994)::Drama|Mystery|Romance
124::Star Maker, The (Uomo delle stelle, L') (1995)::Drama
125::Flirting With Disaster (1996)::Comedy
126::NeverEnding Story III, The (1994)::Adventure|Children's|Fantasy
127::Silence of the Palace, The (Saimt el Qusur) (1994)::Drama
128::Jupiter's Wife (1994)::Documentary
129::Pie in the Sky (1995)::Comedy|Romance
130::Angela (1995)::Drama
131::Frankie Starlight (1995)::Drama|Romance
132::Jade (1995)::Thriller
133::Nueba Yol (1995)::Comedy|Drama
134::Sonic Outlaws (1995)::Documentary
135::Down Periscope (1996)::Comedy
136::From the Journals of Jean Seberg (1995)::Documentary
137::Man of the Year (1995)::Documentary
138::Neon Bible, The (1995)::Drama
139::Target (1995)::Action|Drama
140::Up Close and Personal (1996)::Drama|Romance
141::Birdcage, The (1996)::Comedy
142::Shadows (Cienie) (1988)::Drama
143::Gospa (1995)::Drama
144::Brothers McMullen, The (1995)::Comedy
145::Bad Boys (1995)::Action
146::Amazing Panda Adventure, The (1995)::Adventure|Children's
147::Basketball Diaries, The (1995)::Drama
148::Awfully Big Adventure, An (1995)::Drama
149::Amateur (1994)::Crime|Drama|Thriller
150::Apollo 13 (1995)::Drama
151::Rob Roy (1995)::Drama|Romance|War
152::Addiction, The (1995)::Horror
153::Batman Forever (1995)::Action|Adventure|Comedy|Crime
154::Belle de jour (1967)::Drama
155::Beyond Rangoon (1995)::Drama|War
156::Blue in the Face (1995)::Comedy
157::Canadian Bacon (1994)::Comedy|War
158::Casper (1995)::Adventure|Children's
159::Clockers (1995)::Drama
160::Congo (1995)::Action|Adventure|Mystery|Sci-Fi
161::Crimson Tide (1995)::Drama|Thriller|War
162::Crumb (1994)::Documentary
163::Desperado (1995)::Action|Romance|Thriller
164::Devil in a Blue Dress (1995)::Crime|Film-Noir|Mystery|Thriller
165::Die Hard: With a Vengeance (1995)::Action|Thriller
166::Doom Generation, The (1995)::Comedy|Drama
167::Feast of July (1995)::Drama
168::First Knight (1995)::Action|Adventure|Drama|Romance
169::Free Willy 2: The Adventure Home (1995)::Adventure|Children's|Drama
170::Hackers (1995)::Action|Crime|Thriller
171::Jeffrey (1995)::Comedy
172::Johnny Mnemonic (1995)::Action|Sci-Fi|Thriller
173::Judge Dredd (1995)::Action|Adventure|Sci-Fi
174::Jury Duty (1995)::Comedy
175::Kids (1995)::Drama
176::Living in Oblivion (1995)::Comedy
177::Lord of Illusions (1995)::Horror
178::Love & Human Remains (1993)::Comedy
179::Mad Love (1995)::Drama|Romance
180::Mallrats (1995)::Comedy
181::Mighty Morphin Power Rangers: The Movie (1995)::Action|Children's
182::Moonlight and Valentino (1995)::Drama|Romance
183::Mute Witness (1994)::Thriller
184::Nadja (1994)::Drama
185::Net, The (1995)::Sci-Fi|Thriller
186::Nine Months (1995)::Comedy
187::Party Girl (1995)::Comedy
188::Prophecy, The (1995)::Horror
189::Reckless (1995)::Comedy
190::Safe (1995)::Thriller
191::Scarlet Letter, The (1995)::Drama
192::Show, The (1995)::Documentary
193::Showgirls (1995)::Drama
194::Smoke (1995)::Drama
195::Something to Talk About (1995)::Comedy|Drama|Romance
196::Species (1995)::Horror|Sci-Fi
197::Stars Fell on Henrietta, The (1995)::Drama
198::Strange Days (1995)::Action|Crime|Sci-Fi
199::Umbrellas of Cherbourg, The (Parapluies de Cherbourg, Les) (1964)::Drama|Musical
200::Tie That Binds, The (1995)::Thriller
201::Three Wishes (1995)::Drama
202::Total Eclipse (1995)::Drama|Romance
203::To Wong Foo, Thanks for Everything! Julie Newmar (1995)::Comedy
204::Under Siege 2: Dark Territory (1995)::Action
205::Unstrung Heroes (1995)::Comedy|Drama
206::Unzipped (1995)::Documentary
207::Walk in the Clouds, A (1995)::Drama|Romance
208::Waterworld (1995)::Action|Adventure
209::White Man's Burden (1995)::Drama
210::Wild Bill (1995)::Western
211::Browning Version, The (1994)::Drama
212::Bushwhacked (1995)::Comedy
213::Burnt By the Sun (Utomlyonnye solntsem) (1994)::Drama
214::Before the Rain (Pred dozhdot) (1994)::Drama
215::Before Sunrise (1995)::Drama|Romance
216::Billy Madison (1995)::Comedy
217::Babysitter, The (1995)::Drama|Thriller
218::Boys on the Side (1995)::Comedy|Drama
219::Cure, The (1995)::Drama
220::Castle Freak (1995)::Horror
222::Circle of Friends (1995)::Drama|Romance
223::Clerks (1994)::Comedy
224::Don Juan DeMarco (1995)::Comedy|Drama|Romance
225::Disclosure (1994)::Drama|Thriller
226::Dream Man (1995)::Thriller
227::Drop Zone (1994)::Action
228::Destiny Turns on the Radio (1995)::Comedy
229::Death and the Maiden (1994)::Drama|Thriller
230::Dolores Claiborne (1994)::Drama|Thriller
231::Dumb & Dumber (1994)::Comedy
232::Eat Drink Man Woman (1994)::Comedy|Drama
233::Exotica (1994)::Drama
234::Exit to Eden (1994)::Comedy
235::Ed Wood (1994)::Comedy|Drama
236::French Kiss (1995)::Comedy|Romance
237::Forget Paris (1995)::Comedy|Romance
238::Far From Home: The Adventures of Yellow Dog (1995)::Adventure|Children's
239::Goofy Movie, A (1995)::Animation|Children's|Comedy|Romance
240::Hideaway (1995)::Thriller
241::Fluke (1995)::Children's|Drama
242::Farinelli: il castrato (1994)::Drama|Musical
243::Gordy (1995)::Comedy
244::Gumby: The Movie (1995)::Animation|Children's
245::Glass Shield, The (1994)::Crime|Drama
246::Hoop Dreams (1994)::Documentary
247::Heavenly Creatures (1994)::Drama|Fantasy|Romance|Thriller
248::Houseguest (1994)::Comedy
249::Immortal Beloved (1994)::Drama|Romance
250::Heavyweights (1994)::Children's|Comedy
251::Hunted, The (1995)::Action
252::I.Q. (1994)::Comedy|Romance
253::Interview with the Vampire (1994)::Drama|Horror
254::Jefferson in Paris (1995)::Drama
255::Jerky Boys, The (1994)::Comedy
256::Junior (1994)::Comedy|Sci-Fi
257::Just Cause (1995)::Mystery|Thriller
258::Kid in King Arthur's Court, A (1995)::Adventure|Children's|Comedy|Fantasy|Romance
259::Kiss of Death (1995)::Crime|Drama|Thriller
260::Star Wars: Episode IV - A New Hope (1977)::Action|Adventure|Fantasy|Sci-Fi
261::Little Women (1994)::Drama
262::Little Princess, A (1995)::Children's|Drama
263::Ladybird Ladybird (1994)::Drama
264::Enfer, L' (1994)::Drama
265::Like Water for Chocolate (Como agua para chocolate) (1992)::Drama|Romance
266::Legends of the Fall (1994)::Drama|Romance|War|Western
267::Major Payne (1994)::Comedy
268::Little Odessa (1994)::Drama
269::My Crazy Life (Mi vida loca) (1993)::Drama
270::Love Affair (1994)::Drama|Romance
271::Losing Isaiah (1995)::Drama
272::Madness of King George, The (1994)::Drama
273::Mary Shelley's Frankenstein (1994)::Drama|Horror
274::Man of the House (1995)::Comedy
275::Mixed Nuts (1994)::Comedy
276::Milk Money (1994)::Comedy|Romance
277::Miracle on 34th Street (1994)::Drama
278::Miami Rhapsody (1995)::Comedy
279::My Family (1995)::Drama
280::Murder in the First (1995)::Drama|Thriller
281::Nobody's Fool (1994)::Drama
282::Nell (1994)::Drama
283::New Jersey Drive (1995)::Crime|Drama
284::New York Cop (1996)::Action|Crime
285::Beyond Bedlam (1993)::Drama|Horror
286::Nemesis 2: Nebula (1995)::Action|Sci-Fi|Thriller
287::Nina Takes a Lover (1994)::Comedy|Romance
288::Natural Born Killers (1994)::Action|Thriller
289::Only You (1994)::Comedy|Romance
290::Once Were Warriors (1994)::Crime|Drama
291::Poison Ivy II (1995)::Thriller
292::Outbreak (1995)::Action|Drama|Thriller
293::Professional, The (a.k.a. Leon: The Professional) (1994)::Crime|Drama|Romance|Thriller
294::Perez Family, The (1995)::Comedy|Romance
295::Pyromaniac's Love Story, A (1995)::Comedy|Romance
296::Pulp Fiction (1994)::Crime|Drama
297::Panther (1995)::Drama
298::Pushing Hands (1992)::Comedy
299::Priest (1994)::Drama
300::Quiz Show (1994)::Drama
301::Picture Bride (1995)::Drama|Romance
302::Queen Margot (La Reine Margot) (1994)::Drama|Romance
303::Quick and the Dead, The (1995)::Action|Adventure|Western
304::Roommates (1995)::Comedy|Drama
305::Ready to Wear (Pret-A-Porter) (1994)::Comedy
306::Three Colors: Red (1994)::Drama
307::Three Colors: Blue (1993)::Drama
308::Three Colors: White (1994)::Drama
309::Red Firecracker, Green Firecracker (1994)::Drama
310::Rent-a-Kid (1995)::Comedy
311::Relative Fear (1994)::Horror|Thriller
312::Stuart Saves His Family (1995)::Comedy
313::Swan Princess, The (1994)::Animation|Children's
314::Secret of Roan Inish, The (1994)::Drama
315::Specialist, The (1994)::Action
316::Stargate (1994)::Action|Adventure|Sci-Fi
317::Santa Clause, The (1994)::Children's|Comedy|Fantasy
318::Shawshank Redemption, The (1994)::Drama
319::Shallow Grave (1994)::Thriller
320::Suture (1993)::Film-Noir|Thriller
321::Strawberry and Chocolate (Fresa y chocolate) (1993)::Drama
322::Swimming with Sharks (1995)::Comedy|Drama
324::Sum of Us, The (1994)::Comedy
325::National Lampoon's Senior Trip (1995)::Comedy
326::To Live (Huozhe) (1994)::Drama
327::Tank Girl (1995)::Action|Comedy|Musical|Sci-Fi
328::Tales From the Crypt Presents: Demon Knight (1995)::Horror
329::Star Trek: Generations (1994)::Action|Adventure|Sci-Fi
330::Tales from the Hood (1995)::Comedy|Horror
331::Tom & Viv (1994)::Drama
332::Village of the Damned (1995)::Horror|Sci-Fi
333::Tommy Boy (1995)::Comedy
334::Vanya on 42nd Street (1994)::Drama
335::Underneath, The (1995)::Mystery|Thriller
336::Walking Dead, The (1995)::Drama|War
337::What's Eating Gilbert Grape (1993)::Drama
338::Virtuosity (1995)::Sci-Fi|Thriller
339::While You Were Sleeping (1995)::Comedy|Romance
340::War, The (1994)::Adventure|Drama
341::Double Happiness (1994)::Drama
342::Muriel's Wedding (1994)::Comedy|Romance
343::Baby-Sitters Club, The (1995)::Children's
344::Ace Ventura: Pet Detective (1994)::Comedy
345::Adventures of Priscilla, Queen of the Desert, The (1994)::Comedy|Drama
346::Backbeat (1993)::Drama|Musical
347::Bitter Moon (1992)::Drama
348::Bullets Over Broadway (1994)::Comedy
349::Clear and Present Danger (1994)::Action|Adventure|Thriller
350::Client, The (1994)::Drama|Mystery|Thriller
351::Corrina, Corrina (1994)::Comedy|Drama|Romance
352::Crooklyn (1994)::Comedy
353::Crow, The (1994)::Action|Romance|Thriller
354::Cobb (1994)::Drama
355::Flintstones, The (1994)::Children's|Comedy
356::Forrest Gump (1994)::Comedy|Romance|War
357::Four Weddings and a Funeral (1994)::Comedy|Romance
358::Higher Learning (1995)::Drama
359::I Like It Like That (1994)::Comedy|Drama|Romance
360::I Love Trouble (1994)::Action|Comedy
361::It Could Happen to You (1994)::Drama|Romance
362::Jungle Book, The (1994)::Adventure|Children's|Romance
363::Wonderful, Horrible Life of Leni Riefenstahl, The (Die Macht der Bilder) (1993)::Documentary
364::Lion King, The (1994)::Animation|Children's|Musical
365::Little Buddha (1993)::Drama
366::Wes Craven's New Nightmare (1994)::Horror
367::Mask, The (1994)::Comedy|Crime|Fantasy
368::Maverick (1994)::Action|Comedy|Western
369::Mrs. Parker and the Vicious Circle (1994)::Drama
370::Naked Gun 33 1/3: The Final Insult (1994)::Comedy
371::Paper, The (1994)::Comedy|Drama
372::Reality Bites (1994)::Comedy|Drama
373::Red Rock West (1992)::Thriller
374::Richie Rich (1994)::Children's|Comedy
375::Safe Passage (1994)::Drama
376::River Wild, The (1994)::Action|Thriller
377::Speed (1994)::Action|Romance|Thriller
378::Speechless (1994)::Comedy|Romance
379::Timecop (1994)::Action|Sci-Fi
380::True Lies (1994)::Action|Adventure|Comedy|Romance
381::When a Man Loves a Woman (1994)::Drama
382::Wolf (1994)::Drama|Horror
383::Wyatt Earp (1994)::Western
384::Bad Company (1995)::Action
385::Man of No Importance, A (1994)::Drama
386::S.F.W. (1994)::Drama
387::Low Down Dirty Shame, A (1994)::Action|Comedy
388::Boys Life (1995)::Drama
389::Colonel Chabert, Le (1994)::Drama|Romance|War
390::Faster Pussycat! Kill! Kill! (1965)::Action|Comedy|Drama
391::Jason's Lyric (1994)::Crime|Drama
392::Secret Adventures of Tom Thumb, The (1993)::Adventure|Children's
393::Street Fighter (1994)::Action
394::Coldblooded (1995)::Action
395::Desert Winds (1995)::Drama
396::Fall Time (1995)::Drama
397::Fear, The (1995)::Horror
398::Frank and Ollie (1995)::Documentary
399::Girl in the Cadillac (1995)::Drama
400::Homage (1995)::Drama
401::Mirage (1995)::Action|Thriller
402::Open Season (1996)::Comedy
403::Two Crimes (1995)::Comedy|Crime|Drama
404::Brother Minister: The Assassination of Malcolm X (1994)::Documentary
405::Highlander III: The Sorcerer (1994)::Action|Sci-Fi
406::Federal Hill (1994)::Drama
407::In the Mouth of Madness (1995)::Horror|Thriller
408::8 Seconds (1994)::Drama
409::Above the Rim (1994)::Drama
410::Addams Family Values (1993)::Comedy
411::You So Crazy (1994)::Comedy
412::Age of Innocence, The (1993)::Drama
413::Airheads (1994)::Comedy
414::Air Up There, The (1994)::Comedy
415::Another Stakeout (1993)::Comedy|Thriller
416::Bad Girls (1994)::Western
417::Barcelona (1994)::Comedy|Romance
418::Being Human (1993)::Drama
419::Beverly Hillbillies, The (1993)::Comedy
420::Beverly Hills Cop III (1994)::Action|Comedy
421::Black Beauty (1994)::Adventure|Children's
422::Blink (1994)::Thriller
423::Blown Away (1994)::Action|Thriller
424::Blue Chips (1994)::Drama
425::Blue Sky (1994)::Drama|Romance
426::Body Snatchers (1993)::Horror|Sci-Fi|Thriller
427::Boxing Helena (1993)::Mystery|Romance|Thriller
428::Bronx Tale, A (1993)::Drama
429::Cabin Boy (1994)::Comedy
430::Calendar Girl (1993)::Drama
431::Carlito's Way (1993)::Crime|Drama
432::City Slickers II: The Legend of Curly's Gold (1994)::Comedy|Western
433::Clean Slate (1994)::Comedy
434::Cliffhanger (1993)::Action|Adventure|Crime
435::Coneheads (1993)::Comedy|Sci-Fi
436::Color of Night (1994)::Drama|Thriller
437::Cops and Robbersons (1994)::Comedy
438::Cowboy Way, The (1994)::Action|Comedy
439::Dangerous Game (1993)::Drama
440::Dave (1993)::Comedy|Romance
441::Dazed and Confused (1993)::Comedy
442::Demolition Man (1993)::Action|Sci-Fi
443::Endless Summer 2, The (1994)::Documentary
444::Even Cowgirls Get the Blues (1993)::Comedy|Romance
445::Fatal Instinct (1993)::Comedy
446::Farewell My Concubine (1993)::Drama|Romance
447::Favor, The (1994)::Comedy|Romance
448::Fearless (1993)::Drama
449::Fear of a Black Hat (1993)::Comedy
450::With Honors (1994)::Comedy|Drama
451::Flesh and Bone (1993)::Drama|Mystery|Romance
452::Widows' Peak (1994)::Drama
453::For Love or Money (1993)::Comedy
454::Firm, The (1993)::Drama|Thriller
455::Free Willy (1993)::Adventure|Children's|Drama
456::Fresh (1994)::Drama
457::Fugitive, The (1993)::Action|Thriller
458::Geronimo: An American Legend (1993)::Drama|Western
459::Getaway, The (1994)::Action
460::Getting Even with Dad (1994)::Comedy
461::Go Fish (1994)::Drama|Romance
462::Good Man in Africa, A (1994)::Action|Adventure
463::Guilty as Sin (1993)::Crime|Drama|Thriller
464::Hard Target (1993)::Action|Adventure|Crime|Thriller
465::Heaven & Earth (1993)::Action|Drama|War
466::Hot Shots! Part Deux (1993)::Action|Comedy|War
467::Live Nude Girls (1995)::Comedy
468::Englishman Who Went Up a Hill, But Came Down a Mountain, The (1995)::Comedy|Romance
469::House of the Spirits, The (1993)::Drama|Romance

2179::Topaz (1969)::Thriller
2180::Torn Curtain (1966)::Thriller
2181::Marnie (1964)::Thriller
2182::Wrong Man, The (1956)::Drama|Film-Noir|Thriller
2183::Man Who Knew Too Much, The (1956)::Thriller
2184::Trouble with Harry, The (1955)::Mystery|Thriller
2185::I Confess (1953)::Thriller
2186::Strangers on a Train (1951)::Film-Noir|Thriller
2187::Stage Fright (1950)::Mystery|Thriller
2188::54 (1998)::Drama
2189::I Married A Strange Person (1997)::Animation
2190::Why Do Fools Fall In Love? (1998)::Drama
2191::Merry War, A (1997)::Comedy
2192::See the Sea (Regarde la mer) (1997)::Drama
2193::Willow (1988)::Action|Adventure|Fantasy
2194::Untouchables, The (1987)::Action|Crime|Drama
2195::Dirty Work (1998)::Comedy
2196::Knock Off (1998)::Action
2197::Firelight (1997)::Drama
2198::Modulations (1998)::Documentary
2199::Phoenix (1998)::Crime|Drama
2200::Under Capricorn (1949)::Drama
2201::Paradine Case, The (1947)::Drama
2202::Lifeboat (1944)::Drama|Thriller|War
2203::Shadow of a Doubt (1943)::Film-Noir|Thriller
2204::Saboteur (1942)::Thriller
2205::Mr. & Mrs. Smith (1941)::Comedy
2206::Suspicion (1941)::Mystery|Thriller
2207::Jamaica Inn (1939)::Drama
2208::Lady Vanishes, The (1938)::Comedy|Mystery|Romance|Thriller
2209::Young and Innocent (1937)::Crime|Thriller
2210::Sabotage (1936)::Thriller
2211::Secret Agent (1936)::Thriller
2212::Man Who Knew Too Much, The (1934)::Thriller
2213::Waltzes from Vienna (1933)::Comedy|Musical
2214::Number Seventeen (1932)::Thriller
2215::Rich and Strange (1932)::Comedy|Romance
2216::Skin Game, The (1931)::Drama
2217::Elstree Calling (1930)::Comedy|Musical
2218::Juno and Paycock (1930)::Drama
2219::Murder! (1930)::Mystery|Thriller
2220::Manxman, The (1929)::Drama
2221::Blackmail (1929)::Thriller
2222::Champagne (1928)::Comedy
2223::Farmer's Wife, The (1928)::Comedy
2224::Downhill (1927)::Drama
2225::Easy Virtue (1927)::Drama
2226::Ring, The (1927)::Drama
2227::Lodger, The (1926)::Thriller
2228::Mountain Eagle, The (1926)::Drama
2229::Pleasure Garden, The (1925)::Drama
2230::Always Tell Your Wife (1923)::Comedy
2231::Rounders (1998)::Crime|Drama
2232::Cube (1997)::Sci-Fi|Thriller
2233::Digging to China (1998)::Drama
2234::Let's Talk About Sex (1998)::Drama
2235::One Man's Hero (1999)::Drama|War
2236::Simon Birch (1998)::Drama
2237::Without Limits (1998)::Drama
2238::Seven Beauties (Pasqualino Settebellezze) (1976)::Comedy|Drama
2239::Swept Away (Travolti da un insolito destino nell'azzurro mare d'Agosto) (1975)::Comedy|Drama
2240::My Bodyguard (1980)::Drama
2241::Class (1983)::Comedy
2242::Grandview, U.S.A. (1984)::Drama
2243::Broadcast News (1987)::Comedy|Drama|Romance
2244::Allnighter, The (1987)::Comedy|Romance
2245::Working Girl (1988)::Comedy|Drama
2246::Stars and Bars (1988)::Comedy
2247::Married to the Mob (1988)::Comedy
2248::Say Anything... (1989)::Comedy|Drama|Romance
2249::My Blue Heaven (1990)::Comedy
2250::Men Don't Leave (1990)::Drama
2251::Cabinet of Dr. Ramirez, The (1991)::Comedy
2252::Hero (1992)::Comedy|Drama
2253::Toys (1992)::Action|Comedy|Fantasy
2254::Choices (1981)::Drama
2255::Young Doctors in Love (1982)::Comedy
2256::Parasite (1982)::Horror|Sci-Fi
2257::No Small Affair (1984)::Comedy|Romance
2258::Master Ninja I (1984)::Action
2259::Blame It on Rio (1984)::Comedy|Romance
2260::Wisdom (1986)::Action|Crime
2261::One Crazy Summer (1986)::Comedy
2262::About Last Night... (1986)::Comedy|Drama|Romance
2263::Seventh Sign, The (1988)::Thriller
2264::We're No Angels (1989)::Drama
2265::Nothing But Trouble (1991)::Adventure|Comedy
2266::Butcher's Wife, The (1991)::Comedy|Romance
2267::Mortal Thoughts (1991)::Mystery|Thriller
2268::Few Good Men, A (1992)::Crime|Drama
2269::Indecent Proposal (1993)::Drama
2270::Century of Cinema, A (1994)::Documentary
2271::Permanent Midnight (1998)::Drama
2272::One True Thing (1998)::Drama
2273::Rush Hour (1998)::Action|Thriller
2274::Lilian's Story (1995)::Drama
2275::Six-String Samurai (1998)::Action|Adventure|Sci-Fi
2276::Soldier's Daughter Never Cries, A (1998)::Drama
2277::Somewhere in the City (1997)::Drama
2278::Ronin (1998)::Action|Crime|Thriller
2279::Urban Legend (1998)::Horror|Thriller
2280::Clay Pigeons (1998)::Crime
2281::Monument Ave. (1998)::Crime
2282::Pecker (1998)::Comedy|Drama
2283::Sheltering Sky, The (1990)::Drama
2284::Bandit Queen (1994)::Drama
2285::If.... (1968)::Drama
2286::Fiendish Plot of Dr. Fu Manchu, The (1980)::Comedy
2287::Them! (1954)::Sci-Fi|Thriller|War
2288::Thing, The (1982)::Action|Horror|Sci-Fi|Thriller
2289::Player, The (1992)::Comedy|Drama
2290::Stardust Memories (1980)::Comedy|Drama
2291::Edward Scissorhands (1990)::Drama|Romance
2292::Overnight Delivery (1996)::Romance
2293::Shadrach (1998)::Drama
2294::Antz (1998)::Animation|Children's
2295::Impostors, The (1998)::Comedy
2296::Night at the Roxbury, A (1998)::Comedy
2297::What Dreams May Come (1998)::Drama|Romance
2298::Strangeland (1998)::Thriller
2299::Battle of the Sexes, The (1959)::Comedy
2300::Producers, The (1968)::Comedy|Musical
2301::History of the World: Part I (1981)::Comedy
2302::My Cousin Vinny (1992)::Comedy
2303::Nashville (1975)::Drama|Musical
2304::Love Is the Devil (1998)::Drama
2305::Slam (1998)::Drama
2306::Holy Man (1998)::Comedy
2307::One Tough Cop (1998)::Action|Drama
2308::Detroit 9000 (1973)::Action|Crime
2309::Inheritors, The (Die Siebtelbauern) (1998)::Drama
2310::Mighty, The (1998)::Drama
2311::2010 (1984)::Mystery|Sci-Fi
2312::Children of a Lesser God (1986)::Drama
2313::Elephant Man, The (1980)::Drama
2314::Beloved (1998)::Drama
2315::Bride of Chucky (1998)::Horror|Thriller
2316::Practical Magic (1998)::Drama|Romance
2317::Alarmist, The (1997)::Comedy
2318::Happiness (1998)::Comedy
2319::Reach the Rock (1997)::Comedy
2320::Apt Pupil (1998)::Drama|Thriller
2321::Pleasantville (1998)::Comedy
2322::Soldier (1998)::Action|Adventure|Sci-Fi|Thriller|War
2323::Cruise, The (1998)::Documentary
2324::Life Is Beautiful (La Vita è bella) (1997)::Comedy|Drama
2325::Orgazmo (1997)::Comedy
2326::Shattered Image (1998)::Drama|Thriller
2327::Tales from the Darkside: The Movie (1990)::Horror
2328::Vampires (1998)::Horror
2329::American History X (1998)::Drama
2330::Hands on a Hard Body (1996)::Documentary
2331::Living Out Loud (1998)::Comedy|Romance
2332::Belly (1998)::Crime|Drama
2333::Gods and Monsters (1998)::Drama
2334::Siege, The (1998)::Action|Thriller
2335::Waterboy, The (1998)::Comedy
2336::Elizabeth (1998)::Drama
2337::Velvet Goldmine (1998)::Drama
2338::I Still Know What You Did Last Summer (1998)::Horror|Mystery|Thriller
2339::I'll Be Home For Christmas (1998)::Comedy|Romance
2340::Meet Joe Black (1998)::Romance
2341::Dancing at Lughnasa (1998)::Drama
2342::Hard Core Logo (1996)::Comedy
2343::Naked Man, The (1998)::Drama
2344::Runaway Train (1985)::Action|Adventure|Drama|Thriller
2345::Desert Bloom (1986)::Drama
2346::Stepford Wives, The (1975)::Sci-Fi|Thriller
2347::Pope of Greenwich Village, The (1984)::Action
2348::Sid and Nancy (1986)::Drama
2349::Mona Lisa (1986)::Comedy|Thriller
2350::Heart Condition (1990)::Comedy
2351::Nights of Cabiria (Le Notti di Cabiria) (1957)::Drama
2352::Big Chill, The (1983)::Comedy|Drama
2353::Enemy of the State (1998)::Action|Thriller
2354::Rugrats Movie, The (1998)::Animation|Children's|Comedy
2355::Bug's Life, A (1998)::Animation|Children's|Comedy
2356::Celebrity (1998)::Comedy
2357::Central Station (Central do Brasil) (1998)::Drama
2358::Savior (1998)::Drama
2359::Waking Ned Devine (1998)::Comedy
2360::Celebration, The (Festen) (1998)::Drama
2361::Pink Flamingos (1972)::Comedy
2362::Glen or Glenda (1953)::Drama
2363::Godzilla (Gojira) (1954)::Action|Sci-Fi
2364::Godzilla (Gojira) (1984)::Action|Sci-Fi
2365::King Kong vs. Godzilla (Kingukongu tai Gojira) (1962)::Action|Sci-Fi
2366::King Kong (1933)::Action|Adventure|Horror
2367::King Kong (1976)::Action|Adventure|Horror
2368::King Kong Lives (1986)::Action|Adventure|Horror
2369::Desperately Seeking Susan (1985)::Comedy|Romance
2370::Emerald Forest, The (1985)::Action|Adventure|Drama
2371::Fletch (1985)::Comedy
2372::Fletch Lives (1989)::Comedy
2373::Red Sonja (1985)::Action|Adventure
2374::Gung Ho (1986)::Comedy|Drama
2375::Money Pit, The (1986)::Comedy
2376::View to a Kill, A (1985)::Action
2377::Lifeforce (1985)::Horror|Sci-Fi
2378::Police Academy (1984)::Comedy
2379::Police Academy 2: Their First Assignment (1985)::Comedy
2380::Police Academy 3: Back in Training (1986)::Comedy
2381::Police Academy 4: Citizens on Patrol (1987)::Comedy
2382::Police Academy 5: Assignment: Miami Beach (1988)::Comedy
2383::Police Academy 6: City Under Siege (1989)::Comedy
2384::Babe: Pig in the City (1998)::Children's|Comedy
2385::Home Fries (1998)::Comedy|Romance
2386::Jerry Springer: Ringmaster (1998)::Drama
2387::Very Bad Things (1998)::Comedy|Crime
2388::Steam: The Turkish Bath (Hamam) (1997)::Drama|Romance
2389::Psycho (1998)::Crime|Horror|Thriller
2390::Little Voice (1998)::Comedy
2391::Simple Plan, A (1998)::Crime|Thriller
2392::Jack Frost (1998)::Comedy|Drama
2393::Star Trek: Insurrection (1998)::Action|Sci-Fi
2394::Prince of Egypt, The (1998)::Animation|Musical
2395::Rushmore (1998)::Comedy
2396::Shakespeare in Love (1998)::Comedy|Romance
2397::Mass Appeal (1984)::Drama
2398::Miracle on 34th Street (1947)::Drama
2399::Santa Claus: The Movie (1985)::Adventure|Children's|Fantasy
2400::Prancer (1989)::Children's|Drama
2401::Pale Rider (1985)::Western
2402::Rambo: First Blood Part II (1985)::Action|War
2403::First Blood (1982)::Action
2404::Rambo III (1988)::Action|War
2405::Jewel of the Nile, The (1985)::Action|Adventure|Comedy|Romance
2406::Romancing the Stone (1984)::Action|Adventure|Comedy|Romance
2407::Cocoon (1985)::Comedy|Sci-Fi
2408::Cocoon: The Return (1988)::Comedy|Sci-Fi
2409::Rocky II (1979)::Action|Drama
2410::Rocky III (1982)::Action|Drama
2411::Rocky IV (1985)::Action|Drama
2412::Rocky V (1990)::Action|Drama
2413::Clue (1985)::Comedy|Mystery
2414::Young Sherlock Holmes (1985)::Action|Adventure|Mystery
2415::Violets Are Blue... (1986)::Drama|Romance
2416::Back to School (1986)::Comedy
2417::Heartburn (1986)::Comedy|Drama
2418::Nothing in Common (1986)::Comedy
2419::Extremities (1986)::Drama|Thriller
2420::Karate Kid, The (1984)::Drama
2421::Karate Kid, Part II, The (1986)::Action|Adventure|Drama
2422::Karate Kid III, The (1989)::Action|Adventure|Drama
2423::Christmas Vacation (1989)::Comedy
2424::You've Got Mail (1998)::Comedy|Romance
2425::General, The (1998)::Crime
2426::Theory of Flight, The (1998)::Comedy|Drama|Romance
2427::Thin Red Line, The (1998)::Action|Drama|War
2428::Faculty, The (1998)::Horror|Sci-Fi
2429::Mighty Joe Young (1998)::Adventure|Children's|Drama
2430::Mighty Joe Young (1949)::Adventure|Children's|Drama
2431::Patch Adams (1998)::Comedy|Drama
2432::Stepmom (1998)::Drama
2433::Civil Action, A (1998)::Drama
2434::Down in the Delta (1998)::Drama
2435::Hurlyburly (1998)::Drama
2436::Tea with Mussolini (1999)::Comedy
2437::Wilde (1997)::Drama
2438::Outside Ozona (1998)::Drama|Thriller
2439::Affliction (1997)::Drama
2440::Another Day in Paradise (1998)::Drama
2441::Hi-Lo Country, The (1998)::Drama|Western
2442::Hilary and Jackie (1998)::Drama
2443::Playing by Heart (1998)::Drama|Romance
2444::24 7: Twenty Four Seven (1997)::Comedy|Drama
2445::At First Sight (1999)::Drama
2446::In Dreams (1999)::Thriller
2447::Varsity Blues (1999)::Comedy|Drama
2448::Virus (1999)::Horror|Sci-Fi
2449::Garbage Pail Kids Movie, The (1987)::Adventure|Children's
2450::Howard the Duck (1986)::Adventure|Children's|Sci-Fi
2451::Gate, The (1987)::Horror
2452::Gate II: Trespassers, The (1990)::Horror
2453::Boy Who Could Fly, The (1986)::Drama|Fantasy
2454::Fly, The (1958)::Horror|Sci-Fi
2455::Fly, The (1986)::Horror|Sci-Fi
2456::Fly II, The (1989)::Horror|Sci-Fi
2457::Running Scared (1986)::Action|Comedy
2458::Armed and Dangerous (1986)::Comedy|Crime
2459::Texas Chainsaw Massacre, The (1974)::Horror
2460::Texas Chainsaw Massacre 2, The (1986)::Horror
2461::Leatherface: Texas Chainsaw Massacre III (1990)::Horror
2462::Return of the Texas Chainsaw Massacre, The (1994)::Horror
2463::Ruthless People (1986)::Comedy
2464::Trick or Treat (1986)::Horror
2465::Deadly Friend (1986)::Horror
2466::Belizaire the Cajun (1986)::Drama
2467::Name of the Rose, The (1986)::Mystery
2468::Jumpin' Jack Flash (1986)::Action|Comedy|Romance|Thriller
2469::Peggy Sue Got Married (1986)::Comedy|Romance
2470::Crocodile Dundee (1986)::Adventure|Comedy
2471::Crocodile Dundee II (1988)::Adventure|Comedy
2472::Tough Guys (1986)::Comedy
2473::Soul Man (1986)::Comedy
2474::Color of Money, The (1986)::Drama
2475::52 Pick-Up (1986)::Action|Mystery|Thriller
2476::Heartbreak Ridge (1986)::Action|War
2477::Firewalker (1986)::Adventure
2478::Three Amigos! (1986)::Comedy|Western
2479::Gloria (1999)::Drama|Thriller
2480::Dry Cleaning (Nettoyage à sec) (1997)::Drama
2481::My Name Is Joe (1998)::Drama|Romance
2482::Still Crazy (1998)::Comedy|Romance
2483::Day of the Beast, The (El Día de la bestia) (1995)::Comedy|Horror|Thriller
2484::Tinseltown (1998)::Comedy
2485::She's All That (1999)::Comedy|Romance
2486::24-hour Woman (1998)::Drama
2487::Blood, Guts, Bullets and Octane (1998)::Action|Comedy
2488::Peeping Tom (1960)::Drama|Horror|Thriller
2489::Spanish Fly (1998)::Drama
2490::Payback (1999)::Action|Thriller
2491::Simply Irresistible (1999)::Comedy|Romance
2492::20 Dates (1998)::Comedy
2493::Harmonists, The (1997)::Drama
2494::Last Days, The (1998)::Documentary
2495::Fantastic Planet, The (La Planète sauvage) (1973)::Animation|Sci-Fi
2496::Blast from the Past (1999)::Comedy|Romance
2497::Message in a Bottle (1999)::Romance
2498::My Favorite Martian (1999)::Comedy|Sci-Fi
2499::God Said 'Ha!' (1998)::Comedy
2500::Jawbreaker (1999)::Comedy
2501::October Sky (1999)::Drama
2502::Office Space (1999)::Comedy|Romance
2503::Apple, The (Sib) (1998)::Drama
2504::200 Cigarettes (1999)::Comedy|Drama
2505::8MM (1999)::Thriller
2506::Other Sister, The (1999)::Comedy|Drama|Romance
2507::Breakfast of Champions (1999)::Comedy
2508::Breaks, The (1999)::Drama
2509::Eight Days a Week (1997)::Comedy
2510::Just the Ticket (1999)::Comedy|Romance
2511::Long Goodbye, The (1973)::Crime
2512::Ballad of Narayama, The (Narayama Bushiko) (1982)::Drama
2513::Pet Sematary (1989)::Horror
2514::Pet Sematary II (1992)::Horror
2515::Children of the Corn II: The Final Sacrifice (1993)::Horror
2516::Children of the Corn III (1994)::Horror
2517::Christine (1983)::Horror
2518::Night Shift (1982)::Comedy
2519::House on Haunted Hill (1958)::Horror
2520::Airport (1970)::Drama
2521::Airport 1975 (1974)::Drama
2522::Airport '77 (1977)::Drama
2523::Rollercoaster (1977)::Drama|Thriller
2524::Towering Inferno, The (1974)::Action|Drama
2525::Alligator (1980)::Action|Horror|Sci-Fi
2526::Meteor (1979)::Sci-Fi
2527::Westworld (1973)::Action|Sci-Fi|Thriller|Western
2528::Logan's Run (1976)::Action|Adventure|Sci-Fi
2529::Planet of the Apes (1968)::Action|Sci-Fi
2530::Beneath the Planet of the Apes (1970)::Action|Sci-Fi
2531::Battle for the Planet of the Apes (1973)::Action|Sci-Fi
2532::Conquest of the Planet of the Apes (1972)::Action|Sci-Fi
2533::Escape from the Planet of the Apes (1971)::Action|Sci-Fi
2534::Avalanche (1978)::Action
2535::Earthquake (1974)::Action
2536::Concorde: Airport '79, The (1979)::Drama
2537::Beyond the Poseidon Adventure (1979)::Adventure
2538::Dancemaker (1998)::Documentary
2539::Analyze This (1999)::Comedy
2540::Corruptor, The (1999)::Action|Crime|Drama|Thriller
2541::Cruel Intentions (1999)::Drama
2542::Lock, Stock & Two Smoking Barrels (1998)::Comedy|Crime|Thriller
2543::Six Ways to Sunday (1997)::Comedy
2544::School of Flesh, The (L' École de la chair) (1998)::Drama
2545::Relax... It's Just Sex (1998)::Comedy
2546::Deep End of the Ocean, The (1999)::Drama
2547::Harvest (1998)::Drama
2548::Rage: Carrie 2, The (1999)::Horror
2549::Wing Commander (1999)::Action|Sci-Fi
2550::Haunting, The (1963)::Horror|Thriller
2551::Dead Ringers (1988)::Drama|Thriller
2552::My Boyfriend's Back (1993)::Comedy
2553::Village of the Damned (1960)::Horror|Sci-Fi|Thriller
2554::Children of the Damned (1963)::Horror|Sci-Fi|Thriller
2555::Baby Geniuses (1999)::Comedy
2556::Telling You (1998)::Comedy|Drama|Romance
2557::I Stand Alone (Seul contre tous) (1998)::Drama
2558::Forces of Nature (1999)::Comedy|Romance
2559::King and I, The (1999)::Animation|Children's
2560::Ravenous (1999)::Drama|Horror
2561::True Crime (1999)::Crime|Thriller
2562::Bandits (1997)::Drama
2563::Beauty (1998)::Drama
2564::Empty Mirror, The (1999)::Drama
2565::King and I, The (1956)::Musical
2566::Doug's 1st Movie (1999)::Animation|Children's
2567::EDtv (1999)::Comedy
2568::Mod Squad, The (1999)::Action|Crime
2569::Among Giants (1998)::Drama|Romance
2570::Walk on the Moon, A (1999)::Drama|Romance
2571::Matrix, The (1999)::Action|Sci-Fi|Thriller
2572::10 Things I Hate About You (1999)::Comedy|Romance
2573::Tango (1998)::Drama
2574::Out-of-Towners, The (1999)::Comedy
2575::Dreamlife of Angels, The (La Vie rêvée des anges) (1998)::Drama
2576::Love, etc. (1996)::Drama
2577::Metroland (1997)::Comedy|Drama
2578::Sticky Fingers of Time, The (1997)::Sci-Fi
2579::Following (1998)::Drama
2580::Go (1999)::Crime
2581::Never Been Kissed (1999)::Comedy|Romance
2582::Twin Dragons (Shuang long hui) (1992)::Action|Comedy
2583::Cookie's Fortune (1999)::Mystery
2584::Foolish (1999)::Comedy
2585::Lovers of the Arctic Circle, The (Los Amantes del Círculo Polar) (1998)::Drama|Romance
2586::Goodbye, Lover (1999)::Comedy|Crime|Thriller
2587::Life (1999)::Comedy
2588::Clubland (1998)::Drama
2589::Friends & Lovers (1999)::Comedy|Drama|Romance
2590::Hideous Kinky (1998)::Drama
2591::Jeanne and the Perfect Guy (Jeanne et le garçon formidable) (1998)::Comedy|Romance
2592::Joyriders, The (1999)::Drama
2593::Monster, The (Il Mostro) (1994)::Comedy
2594::Open Your Eyes (Abre los ojos) (1997)::Drama|Romance|Sci-Fi
2595::Photographer (Fotoamator) (1998)::Documentary
2596::SLC Punk! (1998)::Comedy|Drama
2597::Lost & Found (1999)::Comedy|Romance
2598::Pushing Tin (1999)::Comedy
2599::Election (1999)::Comedy
2600::eXistenZ (1999)::Action|Sci-Fi|Thriller
2601::Little Bit of Soul, A (1998)::Comedy
2602::Mighty Peking Man (Hsing hsing wang) (1977)::Adventure|Sci-Fi
2603::Nô (1998)::Drama
2604::Let it Come Down: The Life of Paul Bowles (1998)::Documentary
2605::Entrapment (1999)::Crime|Thriller
2606::Idle Hands (1999)::Comedy|Horror
2607::Get Real (1998)::Drama
2608::Heaven (1998)::Thriller
2609::King of Masks, The (Bian Lian) (1996)::Drama
2610::Three Seasons (1999)::Drama
2611::Winslow Boy, The (1998)::Drama
2612::Mildred Pierce (1945)::Drama
2613::Night of the Comet (1984)::Action|Horror|Sci-Fi
2614::Chopping Mall (a.k.a. Killbots) (1986)::Action|Horror|Sci-Fi
2615::My Science Project (1985)::Adventure|Sci-Fi
2616::Dick Tracy (1990)::Action|Crime
2617::Mummy, The (1999)::Action|Adventure|Horror|Thriller
2618::Castle, The (1997)::Comedy
2619::Mascara (1999)::Drama
2620::This Is My Father (1998)::Drama|Romance
2621::Xiu Xiu: The Sent-Down Girl (Tian yu) (1998)::Drama|Romance
2622::Midsummer Night's Dream, A (1999)::Comedy|Fantasy
2623::Trippin' (1999)::Comedy
2624::After Life (1998)::Drama
2625::Black Mask (Hak hap) (1996)::Action
2626::Edge of Seventeen (1998)::Comedy|Drama|Romance
2627::Endurance (1998)::Documentary|Drama
2628::Star Wars: Episode I - The Phantom Menace (1999)::Action|Adventure|Fantasy|Sci-Fi
2629::Love Letter, The (1999)::Comedy|Romance
2630::Besieged (L' Assedio) (1998)::Drama
2631::Frogs for Snakes (1998)::Comedy|Film-Noir|Thriller
2632::Saragossa Manuscript, The (Rekopis znaleziony w Saragossie) (1965)::Drama
2633::Mummy, The (1932)::Horror|Romance
2634::Mummy, The (1959)::Horror
2635::Mummy's Curse, The (1944)::Horror
2636::Mummy's Ghost, The (1944)::Horror
2637::Mummy's Hand, The (1940)::Horror
2638::Mummy's Tomb, The (1942)::Horror
2639::Mommie Dearest (1981)::Drama
2640::Superman (1978)::Action|Adventure|Sci-Fi
2641::Superman II (1980)::Action|Adventure|Sci-Fi

In [75]:
mnames = ['movie_id', 'title', 'genres']
movies = pd.read_table('datasets/movielens/movies.dat', sep='::',
                       header=None, names=mnames)
movies[:10]

C:\Users\csu05\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: read_table is deprecated, use read_csv instead.
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\csu05\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy
5         6                         Heat (1995)         Action|Crime|Thriller
6         7                      Sabrina (1995)                Comedy|Romance
7         8                 Tom and Huck (1995)          Adventure|Children's
8         9                 Sudden Death (1995)                        Action
9        10                    GoldenEye (1995)     Action|Adventure|Thriller

In [76]:
all_genres = []
for x in movies.genres:
    all_genres.extend(x.split('|'))
genres = pd.unique(all_genres)

In [77]:
genres

array(['Animation', "Children's", 'Comedy', 'Adventure', 'Fantasy',
       'Romance', 'Drama', 'Action', 'Crime', 'Thriller', 'Horror',
       'Sci-Fi', 'Documentary', 'War', 'Musical', 'Mystery', 'Film-Noir',
       'Western'], dtype=object)

In [78]:
zero_matrix = np.zeros((len(movies), len(genres)))
dummies = pd.DataFrame(zero_matrix, columns=genres)

In [79]:
gen = movies.genres[0]
gen.split('|')
dummies.columns.get_indexer(gen.split('|'))

array([0, 1, 2], dtype=int64)

In [80]:
for i, gen in enumerate(movies.genres):
    indices = dummies.columns.get_indexer(gen.split('|'))
    dummies.iloc[i, indices] = 1

In [81]:
movies_windic = movies.join(dummies.add_prefix('Genre_'))
movies_windic.iloc[0]

movie_id                                       1
title                           Toy Story (1995)
genres               Animation|Children's|Comedy
Genre_Animation                                1
Genre_Children's                               1
Genre_Comedy                                   1
Genre_Adventure                                0
Genre_Fantasy                                  0
Genre_Romance                                  0
Genre_Drama                                    0
                                ...
Genre_Crime                                    0
Genre_Thriller                                 0
Genre_Horror                                   0
Genre_Sci-Fi                                   0
Genre_Documentary                              0
Genre_War                                      0
Genre_Musical                                  0
Genre_Mystery                                  0
Genre_Film-Noir                                0
Genre_Western                                  0
Name: 0, Length: 21, dtype: object

In [83]:
np.random.seed(12345)
values = np.random.rand(10)
values
bins = [0, 0.2, 0.4, 0.6, 0.8, 1]
pd.get_dummies(pd.cut(values, bins))

   (0.0, 0.2]  (0.2, 0.4]  (0.4, 0.6]  (0.6, 0.8]  (0.8, 1.0]
0           0           0           0           0           1
1           0           1           0           0           0
2           1           0           0           0           0
3           0           1           0           0           0
4           0           0           1           0           0
5           0           0           1           0           0
6           0           0           0           0           1
7           0           0           0           1           0
8           0           0           0           1           0
9           0           0           0           1           0

## String Manipulation

### String Object Methods

In [84]:
val = 'a,b,  guido'
val.split(',')

['a', 'b', '  guido']

In [85]:
pieces = [x.strip() for x in val.split(',')] #去除头尾空格
pieces

['a', 'b', 'guido']

In [86]:
first, second, third = pieces
first + '::' + second + '::' + third

'a::b::guido'

In [87]:
'::'.join(pieces)

'a::b::guido'

In [88]:
'guido' in val

True

In [89]:
val.index(',')

1

In [90]:
val.find(':')

-1

> 注意find和index的区别：如果找不到字符串，index将会引发一个异常（而不是返回－1）：

In [91]:
# val.index(':')

In [92]:
val.count(',')

2

In [93]:
val.replace(',', '::')

'a::b::  guido'

In [94]:
val.replace(',', '')

'ab  guido'

![Python内置的字符串方法](http://upload-images.jianshu.io/upload_images/7178691-087fe67bf6db0701.png?imageMogr2/auto-orient/strip|imageView2/2/w/1240)
![Python内置的字符串方法](http://upload-images.jianshu.io/upload_images/7178691-d1f0d4ed3e895016.png?imageMogr2/auto-orient/strip|imageView2/2/w/1240)

### Regular Expressions

> 正则表达式提供了一种灵活的在文本中搜索或匹配（通常比前者复杂）字符串模式的方式。正则表达式，常称作regex，是根据正则表达式语言编写的字符串。Python内置的re模块负责对字符串应用正则表达式。

In [95]:
import re
text = "foo    bar\t baz  \tqux"
re.split('\s+', text)

['foo', 'bar', 'baz', 'qux']

> re模块的函数可以分为三个大类：模式匹配、替换以及拆分。当然，它们之间是相辅相成的。一个regex描述了需要在文本中定位的一个模式，它可以用于许多目的。

> 调用re.split('\s+',text)时，正则表达式会先被编译，然后再在text上调用其split方法。你可以用re.compile自己编译regex以得到一个可重用的regex对象：

In [96]:
regex = re.compile('\s+')
regex.split(text)

['foo', 'bar', 'baz', 'qux']

In [97]:
regex.findall(text)

['    ', '\t ', '  \t']

> 笔记：如果想避免正则表达式中不需要的转义（\），则可以使用原始字符串字面量如r'C:\x'（也可以编写其等价式'C:\x'）。

> 如果打算对许多字符串应用同一条正则表达式，强烈建议通过re.compile创建regex对象。这样将可以节省大量的CPU时间。

> match和search跟findall功能类似。findall返回的是字符串中所有的匹配项，而search则只返回第一个匹配项。match更加严格，它只匹配字符串的首部。来看一个小例子，假设我们有一段文本以及一条能够识别大部分电子邮件地址的正则表达式：

In [129]:
text = """Dave dave@google.com
Steve steve@gmail.com
Rob rob@gmail.com
Ryan ryan@yahoo.com
"""
pattern = r'[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}'

# re.IGNORECASE makes the regex case-insensitive
regex = re.compile(pattern, flags=re.IGNORECASE)

In [130]:
regex.findall(text)

['dave@google.com', 'steve@gmail.com', 'rob@gmail.com', 'ryan@yahoo.com']

In [131]:
m = regex.search(text)
m

In [132]:
text[m.start():m.end()]

'dave@google.com'

In [133]:
print(regex.match(text))

None

In [134]:
print(regex.sub('REDACTED', text))

Dave REDACTED
Steve REDACTED
Rob REDACTED
Ryan REDACTED

In [135]:
pattern = r'([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})'
regex = re.compile(pattern, flags=re.IGNORECASE)

In [137]:
regex.findall(text)

[('dave', 'google', 'com'),
 ('steve', 'gmail', 'com'),
 ('rob', 'gmail', 'com'),
 ('ryan', 'yahoo', 'com')]

In [138]:
m = regex.match('wesm@bright.net')
m.groups()

('wesm', 'bright', 'net')

> sub还能通过诸如\1、\2之类的特殊符号访问各匹配项中的分组。符号\1对应第一个匹配的组，\2对应第二个匹配的组，以此类推：

In [140]:
print(regex.sub(r'Username: \1, Domain: \2, Suffix: \3', text))

Dave Username: dave, Domain: google, Suffix: com
Steve Username: steve, Domain: gmail, Suffix: com
Rob Username: rob, Domain: gmail, Suffix: com
Ryan Username: ryan, Domain: yahoo, Suffix: com

![正则表达式](http://upload-images.jianshu.io/upload_images/7178691-efbb80a793759fc0.png?imageMogr2/auto-orient/strip|imageView2/2/w/1240)

### Vectorized String Functions in pandas

In [98]:
data = {'Dave': 'dave@google.com', 'Steve': 'steve@gmail.com',
        'Rob': 'rob@gmail.com', 'Wes': np.nan}
data = pd.Series(data)
data

Dave     dave@google.com
Steve    steve@gmail.com
Rob        rob@gmail.com
Wes                  NaN
dtype: object

In [99]:
data.isnull()

Dave     False
Steve    False
Rob      False
Wes       True
dtype: bool

> 通过data.map，所有字符串和正则表达式方法都能被应用于（传入lambda表达式或其他函数）各个值，但是如果存在NA（null）就会报错。为了解决这个问题，Series有一些能够跳过NA值的面向数组方法，进行字符串操作。通过Series的str属性即可访问这些方法。例如，我们可以通过str.contains检查各个电子邮件地址是否含有"gmail"：

In [100]:
data.str.contains('gmail')

Dave     False
Steve     True
Rob       True
Wes        NaN
dtype: object

In [101]:
pattern

NameError: name 'pattern' is not defined

In [146]:
data.str.findall(pattern, flags=re.IGNORECASE)

Dave     [(dave, google, com)]
Steve    [(steve, gmail, com)]
Rob        [(rob, gmail, com)]
Wes                        NaN
dtype: object

In [147]:
matches = data.str.match(pattern, flags=re.IGNORECASE)
matches

Dave     True
Steve    True
Rob      True
Wes       NaN
dtype: object

In [148]:
matches.str.get(1)

Dave    NaN
Steve   NaN
Rob     NaN
Wes     NaN
dtype: float64

In [149]:
matches.str[0]

Dave    NaN
Steve   NaN
Rob     NaN
Wes     NaN
dtype: float64

In [150]:
data.str[:5]

Dave     dave@
Steve    steve
Rob      rob@g
Wes        NaN
dtype: object

In [151]:
pd.options.display.max_rows = PREVIOUS_MAX_ROWS

![部分矢量化字符串方法](http://upload-images.jianshu.io/upload_images/7178691-a634364ed6d5d5c5.png?imageMogr2/auto-orient/strip|imageView2/2/w/1240)

## Conclusion